$colorPrincipal : #F0FFFF;
$colorFormulario :  green;
$colorNegro : black;
$colores: #f7cac9, #6b5b95, #feb236, #d64161, #ff7b25,#2ec4b6, #e71d36;
$tamanoTitulo: 32px;
$incrementar: 1;

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $tamanoTitulo + ($incrementar * ($i - 1));
  }
}


@mixin centrar {

    display: grid;
    justify-content: center;
    align-items: center;
}
@mixin bordes {
    border-color:$colorNeggro ;
    border: 3px solid;
}

@media (max-width: 408px) {

    .perfil{
        width: 100%;
    }
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      td {
        display: inline-block;
      }
    }
  }


.perfil {
  
    @include centrar();

    h2 {
        background-color: $colorFormulario;
        font-size: larger;

        @media(max-width:768px) {
            font-size: medium;
        }

    }
}

html {
    @include centrar();
    background-color: $colorPrincipal;
 }


body{
    display: grid;
    grid-template-areas:"perfil"
                        "modulos";
    grid-template-columns: 100%;
    @include centrar();

    @media(max-width:768px) {
        font-size: small;
    }
    

}

.modulos {
    @include bordes();
    @include centrar();
    
    
        h3 {
            @include centrar();
        }
    
 }
 td {

    @include bordes();
    @each $color in $colores {
        &:nth-child(#{index($colores, $color)}) {
          background-color: $color;
        }
  
    }
 }
 

  @function calcularAnchura($anchuraVista , $numColumnas) {
        @return percentage($numColumnas / 12)
  }

 